@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --bg-brown: #ad343e;
  --bg-off-white: #f9f9f7;
  --bg-white: #ffff;
  --heading-black: #2c2f24;
  --bg-light-black: #474747;
  --bh-hover: #dbdfd0;
  --heading-font: "Playfair Display", serif;
  --text-font: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* <!-- The head mail and address --> */
.container {
  padding-left: 150px;
  padding-right: 150px;
}

.header-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-light-black);
  height: 45px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.left-icon {
  color: var(--bg-off-white);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}
.left-icon p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.fa-regular {
  padding-left: 25px;
}
.right-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--bg-white);
  cursor: pointer;
}
.fa-brands {
  width: 30.17px;
  height: 30.17px;
  background: #f9f9f71f;
  padding: 8px;
  border-radius: 50px;
}
/* <!-- The head mail and address --> */

/* Nav bar start */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 74px;
  height: 55px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  padding-left: 13.83px;
  font-family: var(--heading-font);
  font-size: 42.67px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.33px;
  letter-spacing: -0.40000003576278687px;
  text-align: left;
}
.menu-bar {
  padding-right: 50px;
  gap: 10px;
}
.bar {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  height: 24px;
  text-decoration: none;
  color: var(--heading-black);
  padding: 4px 16px 4px 16px;
}

.bar:hover {
  border-radius: 34px;
  color: var(--bh-hover);
}
.btn1 {
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 118px;
  border: 1.5px solid;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
.btn:hover {
  border-radius: 34px;
  background: var(--bh-hover);
}
/* Nav bar end */

/* hero section start */
.hero-section {
  background: url("./image/bgimage.svg");
  height: 802px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.breakfast-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.breakfast-text h1 {
  font-family: var(--heading-font);
  font-size: 100px;
  font-weight: 400;
  line-height: 96px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 207px;
  color: var(--heading-black);
  margin-bottom: 32px;
}

.breakfast-text p {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: var(--heading-black);
  padding-left: 10px;
}
.button {
  display: flex;
  padding-left: 530px;
  margin-top: 40px;
  gap: 16px;
}
.btn2 {
  padding: 20px 32px 20px 32px;
  border-radius: 118px;
  border: 1.5px solid;
  font-family: var(--text-font);
  background: var(--bg-off-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
.btn2:hover {
  border-radius: 34px;
  background: var(--bg-brown);
}
/* hero section ends */

/* browse-menu start */

.browseMenu {
  background: var(--bg-white);
}
.menu {
  font-family: var(--heading-font);
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: center;
  margin-top: 92px;
}
.menuicon {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  gap: 24px;
}
.menu-icon1 {
  border-radius: 12px;
  border: 1.5px solid;
  border-color: var(--bh-hover);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 34px 32px 34px;
}

.menu-icon1 h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.breakfast p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.exploremenu {
  color: var(--bg-brown);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/* Information Section start */
.information {
  background: var(--bg-off-white);
  
}
.shawamaImage{
  position: relative;
}
.information1 {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  height: 856px;
}
.info {
  background: var(--bg-light-black);
  width: 411px;
  border-radius: 12px;
  position: absolute;
  bottom: 100px;
  left: 250px;
}
.address {
  padding: 50px;
}
.address h3 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 45px;
  color: var(--bg-white);
}

.come {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  align-items: center;
}

#phone {
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}

.come p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}
.restaurant {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  align-items: center;
}
#mail1{
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}
.restaurant p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}

.marshall {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
#location {
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}
.marshall p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}

.provide-side {
  padding-left: 90px;
  padding-top: 79.5px;
}
.provide-side h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  padding-bottom: 24px;
  width: 557px;
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
}

.provide-side p {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 557px;
  text-align: left;
  padding-bottom: 24px;
}

.at-place {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 40px;
}
.more-btn {
  padding: 20px 32px 20px 32px;
  border-radius: 118px;
  border: 1.5px light;
  font-family: var(--text-font);
  background: var(--bg-off-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  align-items: left;
}
/* Information Section end */


/* OFFER SECTION START */
.we-offer {
  background: var(--bg-white);
  padding-bottom: 120px;
  padding-top: 120px;
}
.text-offer {
  font-family: var(--heading-font);
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  color: var(--heading-black);
  padding-bottom: 64px;
}
.offerimage {
  background: var(--bg-white);
  display:flex;
  flex-direction: row;
  gap:12px;
  height:443px;
  width:100%;
}
.offer-grid{
  width: 306px;
  border-radius: 12px;
}
.catering > img{
  height:500px;
  width:50%
}
.catering{
  border-radius: 12px;
}

.offer-grid h3 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 15px;
}
.offer-grid p {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
/* OFFER SECTION END */

/* fasted food delivery in city start */
.food-delivery {
  background: var(--bg-off-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  height: 867px;
  padding-top: 120px;
}

.i2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.i3 {
  padding-top: 30px;
  padding-bottom: 24px;
}
.food-delivery-text h2{
font-family: var(--heading-font);
font-size: 40px;
font-weight: 500;
text-align: left;
color: var(--heading-black);
padding-top: 140px;
padding-bottom:20px;
}
.food-delivery-text p{
   font-family: var(--text-font);
   color: #414536;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-bottom: 50px;
}

.shop-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom:20px;
}

.shop-info p {
  font-family: var(--text-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: var(--heading-black);
  text-align: left;
}

/* fasted food delivery in city end */

/* customers section start */
.customers-section {
  background: var(--bg-white);
  padding-top: 98px;
  padding-bottom: 135px;
}

.customers-heading h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: center;
  padding-bottom: 64px;
}
.testimonial-section {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.the-restaurant {
  background: var(--bg-off-white);
  width: 416px;
  border-radius: 12px;
  padding: 45px 35px 35px 35px;
}
.the-restaurant h3 {
  font-family: var(--text-font);
  color: var(--bg-brown);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-bottom: 24px;
}

.testimonial-text {
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #414536;
  padding-bottom: 32px;
  border-bottom: 1px solid #dbdfd0;
}

.customers-image {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  gap: 20px;
  align-items: center;
}
.sophire {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-bottom: 3px;
}
.los {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
/* customers section end */

/* blog section start */
.ourblog-articles {
  background: var(--bg-off-white);
  padding-top: 120px;
  padding-bottom: 137px;
}
.our-blog {
  display: flex;
  flex-direction: row;
  gap: 620px;
  padding-bottom: 64px;
}
.our-blog h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 35px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
}
.read-link {
  height: Hug 64px;
  padding: 20px 32px 20px 32px;
  gap: 10px;
  border-radius: 118px;
  background: var(--bg-brown);
  border: none;
  font-family: var(--text-font);
  color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.i1 > img {
  width: 100%;
}
.i1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 690px;
  width: 500px;
  border-radius: 12px;
}
.grid-item {
  border-radius: 12px;
  box-shadow: 0px 2.98px 59.57px 0px #00000014;
}
.grid-item-text {
  padding: 45px 33px 53px 35px;
}
.date {
  font-family: var(--text-font);
  color: #737865;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 15px;
}
.secret {
  font-family: var(--text-font);
  color: var(--heading-black);
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.grid-last-text {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.grid-food-tab {
  padding: 30px 25px 14px 25px;
}
.date-tab2 {
  font-family: var(--text-font);
  color: #737865;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-bottom: 12px;
}
.prepare-tab2 {
  font-family: var(--text-font);
  color: #2c2f24;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
/* blog section end */

/* footer section start */
footer {
  background: var(--bg-light-black);
}
.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 120px;
}
.column-1 {
  width: 70%;
}
.white-logo {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  padding-bottom: 43px;
}
.white-logo img {
  color: var(--bg-white);
}

.white-logo h3 {
  font-family: var(--heading-font);
  color: var(--bg-white);
  font-size: 32.67px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.33px;
  letter-spacing: -0.40000003576278687px;
  text-align: left;
}

.white-logo-text {
  font-family: var(--text-font);
  color: #adb29e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 30px;
}

.social-image-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--bg-white);
  cursor: pointer;
}
.media {
  width: 40px;
  height: 40px;
  background: var(--bg-brown);
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
}

.column-2 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
}
.page-title {
  font-family: var(--text-font);
  color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-bottom: 40px;
}
.page-title-text p {
  font-family: var(--text-font);
  color: #dbdfd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 20px;
}

.column-3 {
  width: 100%;
}
.right-image-insta {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.right-image-insta-2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.imfood {
  border-radius: 20px;
  padding-top: 10px;
}

.copy-write p {
  font-family: var(--text-font);
  color: #adb29e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 85px;
}
/* footer section end  */


/* Responsiveness */

/* mobile screen */
@media (max-width: 500px) {
  .container {
  padding-left: 20px;
  padding-right: 20px;
}
.header-mail{
  display: none;
}
.menu-bar{
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  /* height: 55px; */
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  padding-top: 20px;
  font-family: var(--heading-font);
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.33px;
  letter-spacing: -0.40000003576278687px;
  text-align: left;
}
/* hero section start */
.hero-section {
  background: url("./image/bgimage.svg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.breakfast-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.breakfast-text h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-top: 50px;
  color: var(--heading-black);
  margin-bottom: 20px;
}
.breakfast-text p {
  font-family: var(--text-font);
  font-size: 12px;
  font-weight: 100;
  line-height: 10px;
  text-align: center;
  color: var(--heading-black);
  padding-left: 5px;
}
.button {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 40px;
  margin:auto;
  margin-top: 20px;
  gap: 8px;
}
.btn2 {
  padding: 9px 9px 9px 9px;
  border-radius: 50px;
  border: 1.5px solid;
  font-family: var(--text-font);
  background: var(--bg-off-white);
  font-size: 15px;
  font-weight: 100;
  line-height: 12px;
}
/* hero section ends */

/* browse-menu start */

.browseMenu {
  background: var(--bg-white);
}
.menu{
  margin-top: 20px;
}

.menu h2{
  font-family: var(--heading-font);
  font-size: 22px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}
.menuicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 8px;
}
.menu-icon1 {
  border-radius: 12px;
  border: 1.5px solid;
  border-color: var(--bh-hover);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px;
}

.menu-icon1 h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.breakfast p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.exploremenu {
  color: var(--bg-brown);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-align: center;
}

/* Information Section start */
.information {
  background: var(--bg-off-white);

  
}
.shawamaImage >img{
  width: 100%;
}
.information1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.info {
  background: var(--bg-light-black);
  border-radius: 12px;
  
}
.address {
  padding: 50px;
}
.address h3 {
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 45px;
  color: var(--bg-white);
}

.come {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  align-items: center;
}

#phone {
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}

.come p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}
.restaurant {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  align-items: center;
}
#mail1{
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}
.restaurant p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}

.marshall {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
#location {
  color: var(--bg-white);
  width: 18px;
  height: 18px;
}
.marshall p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--bg-off-white);
}

.provide-side {
  padding-left: 10px;
  padding-top: 20px;
}
.provide-side h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  padding-bottom: 24px;
  width: 90%px;
  font-size: 45px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.provide-side p {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 15px;
  font-weight: 200;
  line-height: 28px;
  width: 100%;
  text-align: left;
  padding-bottom: 15px;
}

.at-place {
  font-family: var(--text-font);
  color: #414536;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  text-align: left;
  padding-bottom: 15px;
}
.more-btn {
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  border: 1px solid;
  font-family: var(--text-font);
  background: var(--bg-off-white);
  font-size: 16px;
  font-weight: 100;
  line-height: 10px;
  align-items: left;
}

/* OFFER SECTION START */
.we-offer {
  padding-bottom: 50px;
  padding-top: 50px;
}
.text-offer {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
}
.offerimage {
  flex-direction: column;
  align-items:center;
  gap:8px;
  height:1700px;
  width:100%;
}
.offer-grid h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* OFFER SECTION END */

/* fasted food delivery in city start */
.food-delivery {
  display: flex;
  flex-direction: column;
  height: 1600px;
  width:100%;
  padding-top: 10px;
  padding-left:20px;
}
.i2 >img{
width:100%;
}
.i3{
  padding-top: 8px;
}

.food-delivery-text h2{
padding-top: 5px;
}
.food-delivery-text p{
padding-bottom: 20px;
}
/* fasted food delivery in city end */

/* customers section start */
.customers-section {
  padding-top: 50px;
  padding-bottom: 40px;
}

.customers-heading h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 30px;
  line-height: 24px;
  padding-bottom: 30px;
}
.testimonial-section {
  display: flex;
  flex-direction: column;
}
.the-restaurant {
  width: 100%;
  padding: 20px 15px 15px 15px;
}
.the-restaurant h3 {
  text-align: center;
  padding-bottom: 24px;
}
/* customers section end */

/* blog section start */
.ourblog-articles {
  background: var(--bg-off-white);
  padding-top: 120px;
  padding-bottom: 137px;
}
.our-blog {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-bottom: 64px;
}
.our-blog h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.read-link {
  height: 50px;
  padding: 0px 12px 0px 12px; 
  gap: 10px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.i1 > img {
  width: 100%;
}
.i1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 690px;
  width: 500px;
  border-radius: 12px;
}
.grid-item {
  border-radius: 12px;
  box-shadow: 0px 2.98px 59.57px 0px #00000014;
}
.grid-item-text {
  padding: 45px 33px 53px 35px;
}
.date {
  font-family: var(--text-font);
  color: #737865;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 15px;
}
.secret {
  font-family: var(--text-font);
  color: var(--heading-black);
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.grid-last-text {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.grid-food-tab {
  padding: 30px 25px 14px 25px;
}
.date-tab2 {
  font-family: var(--text-font);
  color: #737865;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-bottom: 12px;
}
.prepare-tab2 {
  font-family: var(--text-font);
  color: #2c2f24;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
/* blog section end */

}