@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --bg-brown: #ad343e;
  --bg-off-white: #f9f9f7;
  --bg-white: #ffff;
  --heading-black: #2c2f24;
  --bg-light-black: #474747;
  --bh-hover: #dbdfd0;
  --heading-font: "Playfair Display", serif;
  --text-font: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
/* <!-- The head mail and address --> */
.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}

.header-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-light-black);
  height: 45px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.left-icon {
  color: var(--bg-off-white);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}
.left-icon p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.fa-regular {
  padding-left: 25px;
}
.right-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--bg-white);
  cursor: pointer;
}
.fa-brands {
  width: 30.17px;
  height: 30.17px;
  background: #f9f9f71f;
  padding: 8px;
  border-radius: 50px;
}
/* <!-- The head mail and address --> */

/* Nav bar start */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo h1 {
  font-family: var(--heading-font);
  color: var(--bg-light-black);
  font-size: 42.67px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.33px;
  letter-spacing: -0.40000003576278687px;
  text-align: left;
}
nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding-right: 158px;
}
.bar2 {
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--heading-black);
  border-radius: 34px;
  background-color: var(--bh-hover);
  padding: 4px 16px 4px 16px;
  gap: 10px;
  border-radius: 34px;
}
.bar {
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--heading-black);
}
.bar:hover {
  background: var(--bh-hover);
  border-radius: 18px;
  padding: 4px 16px;
}
.btn1 {
  border: 1.5px solid #2c2f24;
  border-radius: 118px;
  padding: 12px 24px;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
.btn1:hover {
  background: var(--bh-hover);
}
#hamburger {
  display: none;
}
/* Nav bar end */

/* hero section start */
.hero-section {
  background: url("./image/bgimage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.breakfast-text {
  width: 60%;
  margin: auto;
}
.breakfast-text h1 {
  font-family: var(--heading-font);
  font-size: 100px;
  font-weight: 400;
  line-height: 96px;
  text-align: center;
  padding-top: 207px;
  color: var(--heading-black);
  margin-bottom: 32px;
}

.breakfast-text p {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: var(--heading-black);
  /* padding-left: 10px; */
}
.button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 16px;
  padding-bottom: 203px;
}
.btn2 {
  padding: 20px 32px 20px 32px;
  border-radius: 118px;
  border: 1.5px solid;
  font-family: var(--text-font);
  background: var(--bg-brown);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.btn2:hover {
  border-radius: 34px;
  background: var(--bg-off-white);
}
.btn3 {
  padding: 20px 32px 20px 32px;
  border-radius: 118px;
  border: 1.5px solid;
  font-family: var(--text-font);
  background: var(--bg-off-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.btn3:hover {
  border-radius: 34px;
  background: var(--bg-brown);
}
/* hero section ends */

/* browse-menu start */

.browseMenu {
  background: var(--bg-white);
  padding-bottom: 120px;
  padding-top: 92px;
}
.menu h2 {
  font-family: var(--heading-font);
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: center;
}
.menuicon {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  gap: 24px;
}
.menu-icon1 {
  border-radius: 12px;
  border: 1.5px solid;
  border-color: var(--bh-hover);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 34px 32px 34px;
}

.menu-icon1 h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.breakfast p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.exploremenu {
  color: var(--bg-brown);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/* Information Section start */
.information {
  width: 1, 296px;
  background-color: var(--bg-off-white);
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.shawama-position {
  position: relative;
}
.visit-img > img {
  width: 100%;
}
.visiting-div {
  width: 411px;
  background: #474747;
  border-radius: 12px;
  padding: 50px;
  position: absolute;
  top: 300px;
  left: 150px;
}
.address {
  width: 311px;
}
.address h3 {
  font-family: var(--text-font);
  font-size: 24px;
  color: var(--bg-white);
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-bottom: 45px;
}
.come {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-off-white);
  line-height: 24px;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-bottom: 25px;
}
.we-provide {
  width: 557px;
  padding-top: 79.5px;
  padding-bottom: 79.5px;
}
.we-provide h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 50px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
}
.we-provide p {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 18px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.at-place {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
  text-align: left;
}
.more-btn {
  /* width: Hug (179px)px; */
  padding: 20px 32px 20px 32px;
  border-radius: 118px;
  border: 1.5px solid #2c2f24;
  color: var(--heading-black);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
/* Information Section end */

/* OFFER SECTION START */
.we-offer {
  background: var(--bg-white);
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-offer h2 {
  width: 675px;
  font-family: var(--heading-font);
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
  padding-bottom: 64px;
}
.offerimage {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.catering {
  border-radius: 12px;
  width: 100%;
}

.catering-text {
  width: 100%;
}
.catering-text h3 {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 15px;
}
.catering-text p {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
/* OFFER SECTION END */

/* fasted food delivery in city start */
.food-delivery {
  background: var(--bg-off-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.i2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.i3 {
  padding-top: 30px;
  padding-bottom: 4px;
}
.i4 {
  padding-bottom: 120px;
}
.food-delivery-text h2 {
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: var(--heading-black);
  padding-top: 140px;
  padding-bottom: 20px;
}
.food-delivery-text p {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 50px;
}

.shop-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
}

.shop-info p {
  font-family: var(--text-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: var(--heading-black);
  text-align: left;
}

/* fasted food delivery in city end */

/* customers section start */
.customers-section {
  background: var(--bg-white);
  padding-top: 98px;
  padding-bottom: 135px;
}

.customers-heading h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: center;
  padding-bottom: 64px;
}
.testimonial-section {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.the-restaurant {
  background: var(--bg-off-white);
  width: 416px;
  border-radius: 12px;
  padding: 45px 35px 35px 35px;
}
.the-restaurant h3 {
  font-family: var(--text-font);
  color: var(--bg-brown);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-bottom: 24px;
}

.testimonial-text {
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #414536;
  padding-bottom: 32px;
  border-bottom: 1px solid #dbdfd0;
}

.customers-image {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  gap: 20px;
  align-items: center;
}
.sophire {
  font-family: var(--text-font);
  color: var(--heading-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-bottom: 3px;
}
.los {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
/* customers section end */

/* blog section start */
.ourblog-articles {
  background: var(--bg-off-white);
  padding-top: 120px;
  padding-bottom: 137px;
}
.our-blog {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}
.our-blog h2 {
  font-family: var(--heading-font);
  color: var(--heading-black);
  font-size: 35px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
}
.read-link {
  padding: 20px 32px 20px 32px;
  gap: 10px;
  border-radius: 118px;
  background: var(--bg-brown);
  border: none;
  font-family: var(--text-font);
  color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.i1 > img {
  width: 100%;
}
.i1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 760px;
  width: 100%;
  border-radius: 12px;
}
.grid-item {
  border-radius: 12px;
  box-shadow: 0px 2.98px 59.57px 0px #00000014;
}
.french {
  width: 100%;
}

.grid-item-text {
  padding: 45px 33px 53px 35px;
}
.date {
  font-family: var(--text-font);
  color: #737865;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 15px;
}
.secret {
  font-family: var(--text-font);
  color: var(--heading-black);
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.grid-last-text {
  font-family: var(--text-font);
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.grid-food-tab {
  padding: 30px 25px 14px 25px;
}
.date-tab2 {
  font-family: var(--text-font);
  color: #737865;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-bottom: 12px;
}
.prepare-tab2 {
  font-family: var(--text-font);
  color: #2c2f24;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
/* blog section end */

/* footer section start */
footer {
  background: var(--bg-light-black);
}
.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 120px;
}
.column-1 {
  width: 70%;
}
.white-logo {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  padding-bottom: 43px;
}
.white-logo img {
  color: var(--bg-white);
}

.white-logo h3 {
  font-family: var(--heading-font);
  color: var(--bg-white);
  font-size: 32.67px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.33px;
  letter-spacing: -0.40000003576278687px;
  text-align: left;
}

.white-logo-text {
  font-family: var(--text-font);
  color: #adb29e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 30px;
}

.social-image-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--bg-white);
  cursor: pointer;
}
.media {
  width: 40px;
  height: 40px;
  background: var(--bg-brown);
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
}

.column-2 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
}
.page-title {
  font-family: var(--text-font);
  color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-bottom: 40px;
}
.page-title-text p {
  font-family: var(--text-font);
  color: #dbdfd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-bottom: 20px;
}

.column-3 {
  width: 100%;
}
.right-image-insta {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.right-image-insta-2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.imfood {
  border-radius: 20px;
  padding-top: 10px;
}

.copy-write p {
  font-family: var(--text-font);
  color: #adb29e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 85px;
}
/* footer section end  */
.to-top {
  background:var(--bg-brown);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active2 {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
/* 



/* Responsiveness */
@media (max-width: 575.98px) {
  /* <!-- The head mail and address --> */
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .header-mail {
    display: none;
  }
  /* <!-- The head mail and address --> */
  /* Nav bar start */
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .logo h1 {
    font-size: 35px;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.2s;
    height: 0px;
    overflow: hidden;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto 0 auto;
    padding-right: 0px;
    text-align: center;
    transition: 0.5s;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: var(--bg-light-black);
    font-size: 18px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .nav-bar.active {
    height: 350px;
  }
  li a:hover {
    color: var(--bg-off-white);
  }
  .bar2 {
    background: none;
  }
  .btn1 {
    display: none;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }
  /* Nav bar end */
  /* Hero section start */

  .hero-section {
    background: url("./image/bgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .breakfast-text {
    width: 100%;
    margin: auto;
  }
  .breakfast-text h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    line-height: 30px;
    width: 60%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 32px;
  }

  .breakfast-text p {
    width: 90%;
    margin: auto;
    line-height: 32px;
  }
  .button {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .btn2 {
    padding: 8px 8px;
    font-size: 13px;
  }
  .btn3 {
    padding: 8px 8px;
    border-radius: 118px;
    font-size: 13px;
  }

  /* hero section ends */

  /* Browse menu start */
  .browseMenu {
    background: var(--bg-white);
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .menu {
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 30.5px;
    text-align: center;
  }
  .menuicon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 34px;
    gap: 24px;
  }
  .menu-icon1 {
    padding: 20px;
  }
  .menu-icon1 h3 {
    margin-top: 10px;
  }
  .exploremenu {
    font-size: 20px;
  }
  /* browse menu end */

  /* Information Section start */
  .information {
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .visit-img > img {
    width: 90%;
  }
  .visiting-div {
    width: 100%;
    padding: 12px;
    position: absolute;
    top: 170px;
    left: 10px;
  }
  .come {
    font-size: 16px;
  }

  .we-provide {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .we-provide h2 {
    font-size: 35px;
    line-height: 30px;
  }

  .more-btn {
    padding: 12px 12px 12px 12px;
  }
  /* Information Section end */

  /* OFFER SECTION START */
  .we-offer {
    background: var(--bg-white);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text-offer h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 30.5px;
    padding-bottom: 34px;
  }
  .offerimage {
    display: flex;
    flex-wrap: wrap;
  }
  .catering-text h3 {
    padding-top: 20px;
  }
  /* OFFER SECTION END */

  /* fasted food delivery in city start */
  .food-delivery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .i2 > img {
    width: 100%;
  }
  .i3 {
    padding-top: 0px;
    padding-bottom: 15px;
    width: 100%;
  }
  .i4 {
    padding-bottom: 0px;
    width: 100%;
  }
  .food-delivery-text h2 {
    padding-top: 30px;
  }
  .food-delivery-text p {
    padding-bottom: 25px;
  }
  /* fasted food delivery in city end */

  /* customers section start */
  .customers-section {
    background: var(--bg-white);
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .customers-heading h2 {
    font-size: 30px;
    padding-bottom: 24px;
    line-height: 30px;
  }
  .testimonial-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
  .the-restaurant {
    width: 100%;
  }

  /* customers section end */

  /* blog section start */
  .ourblog-articles {
    background: var(--bg-off-white);
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .our-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  .our-blog h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
  }
  .read-link {
    padding: 12px 12px 12px 15px;
    gap: 0px;
    width: 50%;
    font-weight: 500;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .i1 {
    height: 620px;
    width: 100%;
  }
  /* blog section end */

  /* footer section start */
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
  }
  .column-1 {
    width: 70%;
    padding-bottom: 50px;
  }
  .white-logo {
    padding-bottom: 35px;
    gap: 8px;
  }
  .white-logo h3 {
    padding-top: 20px;
  }
  .column-2 {
    padding-bottom: 50px;
  }
  .column-3 {
    width: 95%;
  }
  .right-image-insta {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .rightfood-img {
    width: 50%;
  }
  .right-image-insta-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .imfood {
    width: 50%;
    border-radius: 20px;
    padding-top: 10px;
  }

  .copy-write p {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 85px;
  }
  /* footer section end  */
  .to-top{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* <!-- The head mail and address --> */
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .header-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-black);
    height: 45px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .left-icon {
    color: var(--bg-off-white);
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
  .left-icon p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .fa-regular {
    padding-left: 25px;
  }
  .right-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
  }
  .fa-brands {
    width: 30.17px;
    height: 30.17px;
    background: #f9f9f71f;
    padding: 8px;
    border-radius: 50px;
  }
  /* <!-- The head mail and address --> */

  /* Nav bar start */
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .logo h1 {
    font-size: 35px;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.2s;
    height: 0px;
    overflow: hidden;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto 0 auto;
    padding-right: 0px;
    text-align: center;
    transition: 0.5s;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: var(--bg-light-black);
    font-size: 18px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .nav-bar.active {
    height: 350px;
  }
  li a:hover {
    color: var(--bg-off-white);
  }
  .bar2 {
    background: none;
  }
  .btn1 {
    display: none;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }

  /* Nav bar end */

  /* hero section start */
  .hero-section {
    background: url("./image/bgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .breakfast-text {
    width: 100%;
    margin: auto;
  }
  .breakfast-text h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 32px;
  }

  .breakfast-text p {
    width: 90%;
    margin: auto;
    line-height: 32px;
  }
  .button {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .btn2 {
    padding: 8px 8px;
    font-size: 13px;
  }
  .btn3 {
    padding: 8px 8px;
    border-radius: 118px;
    font-size: 13px;
  } /* hero section ends */

  /* browse-menu start */

  .browseMenu {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .menu h2 {
    font-size: 40px;
    width: 75%;
    align-items: center;
    margin: auto;
  }
  .menuicon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
  }

  /* Information Section start */
  .information {
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .visit-img > img {
    width: 90%;
  }
  .visiting-div {
    width: 65%;
    padding: 12px;
    position: absolute;
    top: 250px;
    left: 170px;
  }

  .we-provide {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .we-provide h2 {
    font-size: 35px;
    line-height: 30px;
  }

  .more-btn {
    padding: 12px 12px 12px 12px;
  }
  /* Information Section end */

  /* OFFER SECTION START */
  .we-offer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text-offer h2 {
    width: 100%;
    font-size: 40px;
    padding-bottom: 55px;
  }
  .offerimage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .catering-text h3 {
    padding-top: 15px;
  }
  /* OFFER SECTION END */

  /* fasted food delivery in city start */
  .food-delivery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .i2 > img {
    width: 90%;
  }
  .i3 {
    padding-bottom: 4px;
    width: 70%;
  }
  .i4 {
    padding-bottom: 0px;
    width: 70%;
  }
  .all-food-delivery-text {
    width: 100%;
  }
  .food-delivery-text h2 {
    padding-top: 10px;
    font-size: 30px;
  }
  .food-delivery-text p {
    padding-bottom: 25px;
    font-size: 15px;
  }
  .shop-info p {
    font-size: 13px;
  }

  /* fasted food delivery in city end */

  /* customers section start */
  .customers-section {
    background: var(--bg-white);
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .customers-heading h2 {
    font-size: 40px;
    padding-bottom: 44px;
  }
  .testimonial-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .the-restaurant {
    width: 100%;
  }
  /* customers section end */

  /* blog section start */
  .ourblog-articles {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
  .i1 {
    height: 700px;
  }

  /* blog section end */

  /* footer section start */
  footer {
    background: var(--bg-light-black);
  }
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
  }
  .column-1 {
    width: 60%;
    padding-bottom: 50px;
  }
  .column-2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: 100%;
    padding-bottom: 50px;
  }
  .column-3 {
    width: 100%;
  }
  .copy-write p {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* footer section end  */
}

@media (min-width: 768px) and (max-width: 995.98px) {
  /* <!-- The head mail and address --> */
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .header-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-black);
    height: 45px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .left-icon {
    color: var(--bg-off-white);
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
  .left-icon p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .fa-regular {
    padding-left: 25px;
  }
  .right-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
  }
  .fa-brands {
    width: 30.17px;
    height: 30.17px;
    background: #f9f9f71f;
    padding: 8px;
    border-radius: 50px;
  }
  /* <!-- The head mail and address --> */

  /* Nav bar start */
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .logo h1 {
    font-size: 35px;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.2s;
    height: 0px;
    overflow: hidden;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto 0 auto;
    padding-right: 0px;
    text-align: center;
    transition: 0.5s;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: var(--bg-light-black);
    font-size: 18px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .nav-bar.active {
    height: 350px;
  }
  li a:hover {
    color: var(--bg-off-white);
  }
  .bar2 {
    background: none;
  }
  .btn1 {
    display: none;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }
  /* Nav bar end */

  /* hero section start */
  .hero-section {
    background: url("./image/bgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .breakfast-text {
    width: 100%;
    margin: auto;
  }
  .breakfast-text h1 {
    font-family: var(--heading-font);
    font-size: 70px;
    line-height: 50px;
    width: 70%;
    margin: auto;
    padding-top: 150px;
    margin-bottom: 32px;
  }

  .breakfast-text p {
    width: 70%;
    margin: auto;
    line-height: 32px;
  }
  .button {
    padding-bottom: 50px;
  }
  /* hero section ends */

  /* browse-menu start */

  .browseMenu {
    background: var(--bg-white);
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
  }
  .menu {
    font-size: 35px;
  }
  .menuicon {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 54px;
  }
  .menu-icon1 {
    padding: 20px 24px 22px 24px;
  }

  .menu-icon1 h3 {
    font-size: 27px;
  }

  .breakfast p {
    font-size: 20px;
  }

  .exploremenu {
    font-size: 20px;
  }
  /* Information Section start */
  .information {
    flex-direction: row-reverse;
    padding-top: 50px;
  }
  .visit-img > img {
    width: 100%;
  }
  .visiting-div {
    width: 100%;
    padding: 12px;
    top: 190px;
    left: 20px;
  }

  .we-provide {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .we-provide h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .we-provide p {
    font-size: 16px;
  }
  /* Information Section end */

  /* OFFER SECTION START */
  .we-offer {
    background: var(--bg-white);
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .text-offer h2 {
    width: 70%;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 55px;
  }
  .offerimage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
  }
  /* OFFER SECTION END */

  /* fasted food delivery in city start */
  .food-delivery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding-top: 80px;
    padding-bottom: 120px;
    width: 100%;
  }
  .i2 > img {
    width: 100%;
  }
  .i3 {
    width: 70%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .i4 {
    width: 70%;
    padding-bottom: 0px;
  }
  .food-delivery-text h2 {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .food-delivery-text p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 25px;
  }
  /* fasted food delivery in city end */

  /* customers section start */
  .customers-section {
    padding-top: 58px;
    padding-bottom: 135px;
  }

  .customers-heading h2 {
    font-size: 55px;
  }
  .testimonial-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }
  .the-restaurant {
    background: var(--bg-off-white);
    width: 100%;
    border-radius: 12px;
    padding: 45px 35px 35px 35px;
  }
  /* customers section end */

  /* blog section start */
  .ourblog-articles {
    background: var(--bg-off-white);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .our-blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    width: 100%;
  }
  .our-blog h2 {
    font-family: var(--heading-font);
    color: var(--heading-black);
    font-size: 35px;
    font-weight: 500;
    line-height: 60.5px;
    text-align: left;
  }
  .read-link {
    padding: 20px 32px 20px 32px;
    gap: 10px;
    border-radius: 118px;
    background: var(--bg-brown);
    border: none;
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
  }
  .i1 > img {
    width: 100%;
  }
  .i1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 630px;
    width: 100%;
    border-radius: 12px;
  }
  .grid-item {
    border-radius: 12px;
    box-shadow: 0px 2.98px 59.57px 0px #00000014;
  }
  .french {
    width: 100%;
  }

  .grid-item-text {
    padding: 45px 33px 53px 35px;
  }
  .date {
    font-family: var(--text-font);
    color: #737865;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 15px;
  }
  .secret {
    font-family: var(--text-font);
    color: var(--heading-black);
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }
  .grid-last-text {
    font-family: var(--text-font);
    color: #414536;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .grid-food-tab {
    padding: 30px 25px 14px 25px;
  }
  .date-tab2 {
    font-family: var(--text-font);
    color: #737865;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding-bottom: 12px;
  }
  .prepare-tab2 {
    font-family: var(--text-font);
    color: #2c2f24;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }
  /* blog section end */

  /* footer section start */
  footer {
    background: var(--bg-light-black);
  }
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
  }
  .column-1 {
    width: 70%;
  }
  .white-logo {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding-bottom: 43px;
  }
  .white-logo img {
    color: var(--bg-white);
  }

  .white-logo h3 {
    font-family: var(--heading-font);
    color: var(--bg-white);
    font-size: 32.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    text-align: left;
  }

  .white-logo-text {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 30px;
  }

  .social-image-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
  }
  .media {
    width: 40px;
    height: 40px;
    background: var(--bg-brown);
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
  }

  .column-2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
  }
  .page-title {
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
  }
  .page-title-text p {
    font-family: var(--text-font);
    color: #dbdfd0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
  }

  .column-3 {
    width: 100%;
    padding-top: 50px;
  }
  .right-image-insta {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .right-image-insta-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .imfood {
    border-radius: 20px;
    padding-top: 10px;
  }

  .copy-write p {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 85px;
  }
  /* footer section end  */
}

@media (min-width: 996px) and (max-width: 1290px) {
  /* <!-- The head mail and address --> */
  .container {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  /* <!-- The head mail and address --> */
  .header-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-black);
    height: 45px;
    padding-top: 11px;
    padding-bottom: 11px;
    gap: 24px;
    position: fixed;
    z-index: 2;
    padding-right: 0px;
  }

  .left-icon {
    color: var(--bg-off-white);
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
  .left-icon p {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .fa-regular {
    padding-left: 25px;
  }
  .right-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
    padding-right: 100px;
    /* width:15%; */
  }
  .fa-brands {
    width: 30.17px;
    height: 30.17px;
    background: #f9f9f71f;
    padding: 8px;
    border-radius: 50px;
  }
  /* <!-- The head mail and address --> */

  /* Nav bar start */

  /* Nav bar start */
  .nav {
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo h1 {
    font-family: var(--heading-font);
    color: var(--bg-light-black);
    font-size: 42.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    text-align: left;
  }
  nav {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding-right: 50px;
    padding-left: 50px;
  }
  .bar2 {
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--heading-black);
    border-radius: 34px;
    background-color: var(--bh-hover);
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 34px;
  }
  .bar {
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--heading-black);
  }
  .bar:hover {
    background: var(--bh-hover);
    border-radius: 18px;
    padding: 4px 16px;
    /* transition-duration: 1ms; */
  }
  .btn1 {
    border: 1.5px solid #2c2f24;
    border-radius: 118px;
    padding: 12px 24px;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }
  #icon {
    display: none;
  }

  /* hero section start */
  .hero-section {
    background: url("./image/bgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .breakfast-text {
    width: 100%;
    margin: auto;
  }
  .breakfast-text h1 {
    font-family: var(--heading-font);
    font-size: 70px;
    line-height: 50px;
    width: 50%;
    margin: auto;
    padding-top: 150px;
    margin-bottom: 32px;
  }

  .breakfast-text p {
    width: 70%;
    margin: auto;
    line-height: 32px;
  }
  .button {
    padding-bottom: 50px;
  }
  /* hero section ends */

  /* browse-menu start */

  .browseMenu {
    background: var(--bg-white);
    padding-bottom: 50px;
    padding-top: 50px;
    width: 95%;
  }
  .menu {
    font-size: 35px;
  }
  .menuicon {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
  }
  .menu-icon1 {
    padding: 10px 10px 10px 10px;
  }

  .menu-icon1 h3 {
    font-size: 20px;
  }

  .breakfast p {
    font-size: 16px;
  }

  .exploremenu {
    font-size: 16px;
  }
  /* Information Section start */
  .information {
    padding-bottom: 0px;
    width:95%;
  }
  .shawama-position {
    width: 50%;
  }

  .visiting-div {
    width: 100%;
    top: 190px;
    left: 50px;
  }
  .we-provide h2 {
    font-size: 35px;
    line-height: 40.5px;
  }
  /* Information Section end */

  /* OFFER SECTION START */
  .we-offer {
    background: var(--bg-white);
    padding-top: 120px;
    padding-bottom: 120px;
    width:95%;
  }
  .text-offer h2 {
    width: 675px;
    font-family: var(--heading-font);
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    text-align: left;
    padding-bottom: 64px;
  }
  .offerimage {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .catering {
    border-radius: 12px;
    width: 100%;
  }

  .catering-text {
    width: 100%;
  }
  .catering-text h3 {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .catering-text p {
    font-family: var(--text-font);
    color: #414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  /* OFFER SECTION END */

  /* fasted food delivery in city start */
  .food-delivery {
    background: var(--bg-off-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 95%;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .i2 > img {
    width: 90%;
  }
  .i3 {
    width: 65%;
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .i4 {
    width: 65%;
    /* padding-bottom: 0px; */
  }
  .all-food-delivery-text{
    padding-right: 50px;
  }
  .food-delivery-text h2 {
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: var(--heading-black);
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .food-delivery-text p {
    font-family: var(--text-font);
    color: #414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 50px;
  }

  .shop-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
  }

  .shop-info p {
    font-family: var(--text-font);
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: var(--heading-black);
    text-align: left;
  }

  /* fasted food delivery in city end */

  /* customers section start */
  .customers-section {
    background: var(--bg-white);
    padding-top: 98px;
    padding-bottom: 135px;
    width:95%;
  }

  .customers-heading h2 {
    font-family: var(--heading-font);
    color: var(--heading-black);
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    text-align: center;
    padding-bottom: 64px;
  }
  .testimonial-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .the-restaurant {
    background: var(--bg-off-white);
    width: 416px;
    border-radius: 12px;
    padding: 45px 35px 35px 35px;
  }
  .the-restaurant h3 {
    font-family: var(--text-font);
    color: var(--bg-brown);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 24px;
  }

  .testimonial-text {
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #414536;
    padding-bottom: 32px;
    border-bottom: 1px solid #dbdfd0;
  }

  .customers-image {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    gap: 20px;
    align-items: center;
  }
  .sophire {
    font-family: var(--text-font);
    color: var(--heading-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 3px;
  }
  .los {
    font-family: var(--text-font);
    color: #414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  /* customers section end */

  /* blog section start */
  .ourblog-articles {
    background: var(--bg-off-white);
    padding-top: 120px;
    padding-bottom: 137px;
    width:95%;
  }
  .our-blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
  }
  .our-blog h2 {
    font-family: var(--heading-font);
    color: var(--heading-black);
    font-size: 35px;
    font-weight: 500;
    line-height: 60.5px;
    text-align: left;
  }
  .read-link {
    padding: 20px 32px 20px 32px;
    gap: 10px;
    border-radius: 118px;
    background: var(--bg-brown);
    border: none;
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  .i1 > img {
    width: 100%;
  }
  .i1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 680px;
    width: 100%;
    border-radius: 12px;
  }
  .grid-item {
    border-radius: 12px;
    box-shadow: 0px 2.98px 59.57px 0px #00000014;
  }
  .french {
    width: 100%;
  }

  .grid-item-text {
    padding: 45px 33px 53px 35px;
  }
  .date {
    font-family: var(--text-font);
    color: #737865;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 15px;
  }
  .secret {
    font-family: var(--text-font);
    color: var(--heading-black);
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }
  .grid-last-text {
    font-family: var(--text-font);
    color: #414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .grid-food-tab {
    padding: 30px 25px 14px 25px;
  }
  .date-tab2 {
    font-family: var(--text-font);
    color: #737865;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding-bottom: 12px;
  }
  .prepare-tab2 {
    font-family: var(--text-font);
    color: #2c2f24;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }
  /* blog section end */

  /* footer section start */
  footer {
    background: var(--bg-light-black);
    width:95%;
  }
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
  }
  .column-1 {
    width: 70%;
  }
  .white-logo {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding-bottom: 43px;
  }
  .white-logo img {
    color: var(--bg-white);
  }

  .white-logo h3 {
    font-family: var(--heading-font);
    color: var(--bg-white);
    font-size: 32.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    text-align: left;
  }

  .white-logo-text {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 30px;
  }

  .social-image-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--bg-white);
    cursor: pointer;
  }
  .media {
    width: 40px;
    height: 40px;
    background: var(--bg-brown);
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
  }

  .column-2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
  }
  .page-title {
    font-family: var(--text-font);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
  }
  .page-title-text p {
    font-family: var(--text-font);
    color: #dbdfd0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
  }

  .column-3 {
    width: 100%;
  }
  .right-image-insta {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .right-image-insta-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .imfood {
    border-radius: 20px;
    padding-top: 10px;
  }

  .copy-write p {
    font-family: var(--text-font);
    color: #adb29e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 85px;
  }
  /* footer section end  */
}



  

